!*.png
!*.j*
!*.t*
*.zwc
*.ZWC
node_modules
!templates/vscode-material-icon-testDirs/node_modules
core/env/aliases/Untitled-1.js

!vscode-material-icon-testDirs/**/*.*
nohup.out

.cache
.directory
.history
hello_world/
hello-world/
